ion-item {
    font-size: calc(1em + 1vw);
    text-align: justify;
    padding-left: 0.25em;
    margin-left: 0.25em;
}

ion-item ion-label {
    font-style: italic;
    font-size: calc(0.7em + 0.7vw)
}

ion-input {
    font-weight: bold;
    // font-size: 0.9em;
    font-size: calc(0.4em + 0.4vw)
}

.ion-align-self-center {
    text-align: center;
}

ion-textarea {
    font-weight: bold;
    font-size: 0.9em;
}
.ion-col-align-center {
    text-align: center;
}

/* DOES NOT WORK - not specific enough */
.alert-wrapper {
    // background: #e5e5e5;
    background:red;
}

/* Works - pass "my-custom-class" in cssClass to increase specificity */
.my-custom-class .alert-wrapper {
    // background: #e5e5e5;
    background:red;
}

.card-no-border{
    box-shadow:none !important
}